@model IEnumerable<FoodWasteManager.Models.FoodType>

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Manage Food Categories</h1>

<div class="mt-3">
    <a asp-action="Create" class="btn align-content-center margin righ" style="background-color:#d0f2b6">
        <h6 style="color:#3d5438">Create New</h6>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.FoodTypeName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FoodTypeId" class="btn btn-outline-primary btn-sm" title="Edit">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.FoodTypeId" class="btn btn-outline-danger btn-sm" title="Delete">
                        <i class="bi bi-trash-fill"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
