@{
    ViewData["Title"] = "Home Page";
}

<link rel="icon" href="/images/tabiconwasteless.png" />



<div class="text-center" style="background-color;">



    <div class="mb-5"></div>


    <img src="~/images/LogoFoodWaste.png" asp-append-version="true" width="auto" height="auto" style="padding-right: 22px"  />
</div>


<style>
    body{
        background-color: #f0ede6
    }
</style>