@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:#d0f2b6;">
    <h3 class="display-4">Welcome to Vatsal's FoodWasteManager!</h3>



    <p>Please refer to the README file available on my Github.</p>

    <img src="~/images/LogoFoodWaste.png" asp-append-version="true" width="auto" height="auto" style="padding-right: 22px" />
</div>
