@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Vatsal's FoodWasteManager!</h3>



    <p>Please refer to the README file available on my Github.</p>
</div>
