@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="container vh-80 d-flex justify-content-center align-items-center">


    <div class="col-md-7">

        <div class="justify-content-center" >
            <h1 class="text-center mb-5" style ="color:#3d5438">@ViewData["Title"] Today!</h1>


        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 style="color:#3d5438">Create a new account:</h2>
            <hr class="container vh-1" />


            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group mb-4">
                <input asp-for="Input.UserFirstName" class="form-control" placeholder="Name" />
                <span asp-validation-for="Input.UserFirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input asp-for="Input.UserLastName" class="form-control" placeholder="Surname" />
                <span asp-validation-for="Input.UserLastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input asp-for="Input.UserPhone" class="form-control" placeholder="Phone No." />
                <span asp-validation-for="Input.UserPhone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input asp-for="Input.UserLandline" class="form-control" placeholder="09-xxx-xxxx" />
                <span asp-validation-for="Input.UserLandline" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input asp-for="Input.UserAddress" class="form-control" placeholder="Address" id="autocomplete" />
                <span asp-validation-for="Input.UserAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="Input.Password" class="form-control"  aria-required="true" id="password"/>
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" onclick="showPass()"> Show Password
                <script>
                    function showPass() 
                    {
                        var pass = document.getElementById("password")

                        if (pass.type === "password") {
                            pass.type = "text";
                        }
                        else if (pass.type === "text") {
                            pass.type = "password";
                        }
                    }
                </script>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg" style="background-color:#d0f2b6">
                    
                    <h4 style="color: #3d5438">Register</h4>
                    
                
                </button>
        </form>
    </div>

   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}