@model FoodWasteManager.Models.Application

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apply for a FoodPost!</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return PickupTimes()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodPostId" class="control-label"></label>
                <select asp-for="FoodPostId" class ="form-control" asp-items="ViewBag.FoodPostId"></select>
            </div>
          <div class="form-group">
                <label asp-for="QuantityRequired" class="control-label"></label>
                <input asp-for="QuantityRequired" class="form-control" />
                <span asp-validation-for="QuantityRequired" class="text-danger"></span>
          </div>
             
            <div class="form-group">
                <label asp-for="EarliestPickup" class="control-label"></label>
                <input asp-for="EarliestPickup" class="form-control" />
                <span asp-validation-for="EarliestPickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestPickup" class="control-label"></label>
                <input asp-for="LatestPickup" class="form-control" />
                <span asp-validation-for="LatestPickup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function PickupTimes() {
        const earliest = new Date(document.getElementById("EarliestPickup").value);
        const latest = new Date(document.getElementById("LatestPickup").value);

        if (latest <= earliest) {
            alert("Latest Pickup must be after Earliest Pickup :)");
            return false; // stop form submission
        }

        return true; // allow form to submit
    }
</script>